.data_more_less_inner {overflow: hidden; margin-bottom: 20px; position: relative;}
.action_less {display: none;}
.less_active .action_less {display: inline-block;}
.less_active .action_more {display: none;}
.data_more_less:not(.less_active):not(.action_disabled) .data_more_less_inner:after {content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); height: 80px;}
.data_more_less.action_disabled .more_less_action {display: none;}
h1 {margin-bottom: 0px;}
.btn-more-less {background: #444; text-decoration: none; border: 1px solid #444; padding: 7px 15px; color: #fff}
.btn-more-less:hover {background: #444; color: #fff;}
.delete-btn{
    background: none;
    border: none;
    cursor: pointer;
}
table td{
    padding: 15px;
    color: #606365;
    font-size: 14px;
}
body{
    background: rgba(243, 243, 243, 0.38);
}
.shadow{
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}
.widget .header svg{
color:#0891b2;
}
main{
    margin: 13rem;
}
input , textarea , select , .select2-container--default .select2-selection--multiple {
    border-radius: 0!important;
    border: 1px solid #dce1e4;
    box-shadow: none !important;
    font-size: 13px!important;
    padding: 6px 6px !important;
    -webkit-transition: all .2s ease-in-out!important;
    -moz-transition: all .2s ease-in-out!important;
    -o-transition: all .2s ease-in-out!important;
    transition: all .2s ease-in-out!important;
    display: block!important;
    width: 100%!important;
    height: calc(2.25rem + 2px)!important;
    line-height: 1.5!important;
    color: #495057!important;
    background-color: #fff!important;
    background-clip: padding-box!important;
    margin-bottom: 1rem!important;
}
textarea{
    display: none!important;
}
.select2-container .select2-search--inline .select2-search__field{
    margin-top: -7px;
    background: transparent!important;
}
input:focus , textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #26a6b5;
    outline: none;
}
label{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.btn{
    padding: 0.5rem 1rem;
    color: #fff;
}
.btn-success{
    background-color: #22BAA0;
    border-color: transparent;
}
.btn-warning{
    background-color: #FC6E51;
}
.btn-info{
    background-color: #0284c7;
}
.item .content p{
    padding-left: 6px;
    text-align: justify;
}
.bg-statistics {
    background-image: url(../image/statistics.png);
}
.menu-item a{
    display: flex!important;
    column-gap: 0.5rem;
    align-items: center;
}
.menu-item a svg{
    color: #444!important;
}
#cke_notifications_area_editor{
    display: none;
}
.swal2-select, .swal2-input, .swal2-file{
    display: none!important;
}
